<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">{{ _('Access code') }}</label>
    <div class="controls">
      <input type="text"
             class="input-block-level"
             data-bind="value: settings.plugins.octoprint_alexa_notifications.token"/>
      <span class="help-block">{{ _("Access code sent to your email address when enabling the 
        <a href='https://www.amazon.com/Thomptronics-Notify-Me/dp/B07BB2FYFS'
           target='_blank'
           rel='noopener noreferrer'>Notify Me skill</a>.
        No notifications can be sent without this code.") }}</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Enabled notifications') }}</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"
               data-bind="checked: settings.plugins.octoprint_alexa_notifications.PrintDone"/>
        {{ _('Print done notification') }}
        <span class="help-block">{{ _("Check this to enable notifications when a print is finished.") }}</span>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               data-bind="checked: settings.plugins.octoprint_alexa_notifications.PrintFailed"/>
        {{ _('Print failed notification') }}
        <span class="help-block">{{ _('Check this to enable notifications when a print is failed. 
          Note that canceling a job will always fire a "failed" event later, so a failure due to a cancellation will NOT be handled here.') }}</span>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               data-bind="checked: settings.plugins.octoprint_alexa_notifications.PrintCancelled" />
        {{ _('Print cancelled notification') }}
        <span class="help-block">{{ _("Check this to enable notifications when a print is cancelled.") }}</span>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               data-bind="checked: settings.plugins.octoprint_alexa_notifications.PrintPaused" />
        {{ _('Print paused notification') }}
        <span class="help-block">{{ _("Check this to enable notifications when a print is paused.") }}</span>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               data-bind="checked: settings.plugins.octoprint_alexa_notifications.PrintResumed" />
        {{ _('Print resumed notification') }}
        <span class="help-block">{{ _("Check this to enable notifications when a print is resumed.") }}</span>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               data-bind="checked: settings.plugins.octoprint_alexa_notifications.PrintStarted" />
        {{ _('Print started notification') }}
        <span class="help-block">{{ _("Check this to enable notifications when a print is started.") }}</span>
      </label>
    </div>
  </div>
</form>
